/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
/* ============================
   BODY
===============================*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2cfa0;
    color: #333;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('back.jpg');
    background-size: cover;
    background-position: center;
}

/* ============================
   HEADER
===============================*/
/* ============================
   HEADER
===============================*/
header {
    background-color: #aa8c74;
    padding: 20px 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #aa8c74;
    transform: scale(1.1);
}

/* MAIN SECTION */
.main-content {
    text-align: center;
    margin-top: 80px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

button {
    padding: 15px 30px;
    background-color: #805636;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #805636;
    transform: scale(1.05);
}

/* ============================
   FOOTER
===============================*/
footer {
    background-color: #aa8c74;
    padding: 12px;
    text-align: center;
    width: 100%;
    margin-top: auto;
    color: white;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0px -4px 8px rgba(0,0,0,0.1);
}